<% include ../partials/header %>

<% settings.forEach(function(setting){ %>
    <div id="forumposts" class="showpremiumjobonhomepage">
      <h3><a class="header" href="/settings/<%=setting._id%>">Settings</a></h3>
             
    </div>  
   <% }); %>  



<% include ../partials/footer %>