<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="tags">Sort By Company</p>
            <% jobs.forEach(function(job){ %>
                <div class="ui segment">
                    <h3><a class="companypageheader" href="/jobs/<%=job._id%>"><%=job.company%> </a></h3>
                </div>  
            <% }); %>
        </div>

        <div class="col-md-4 ui segment">
                <p class="us"><a href="/jobs">Advertisement</a></p>
        </div>
    </div>
</div>
            
<% include partials/footer %>