<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="">
            <h2 class="aboutqs">    Contact</h2>
            <h2 class="aboutqs">We would love to hear from you</h2>
           
            <p class="aboutqs">E-mail: ngservit@gmail.com </p>
         
            
       
        </div>
           
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% include partials/footer %>