<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="">
           
            <div id="faq">
                <div class="container faq">
                <div class="">
                <h2 class="faqheading"><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> Frequently Asked Questions</h2>
                <div class="accordion-container">
                <div class="ac">
                <h2 class="ac-q" tabindex="0">What does servit do?</h2>
                <div class="ac-a">
                <p>servitng.com is a website that links up students seeking placement for Industrial training/SIWES
                     and corps members in need of a place of primary assignment with companies/organisations in need of their service.</p>
                </div>
                </div>
                                      
                <div class="ac">
                <h2 class="ac-q" tabindex="0">Why servit?</h2>
                <div class="ac-a">
                <p> servit was established with the mindset of easing the stress students experience while searching for companies to undergo their industrial training,
                     equally easing the grueling search for a PPA, particulaly for redeployed corps members.</p>
                </div>
                </div>
                                      
                <div class="ac">
                <h2 class="ac-q" tabindex="0">How do I check for available companies on servit?</h2>
                <div class="ac-a">
                <p>Visit www.servitng.com, click on menu atop the homepage and click on "Get an IT Placement/PPA", proceed to make payment and your log in details will be forwarded to you via text message,
                     with this you can log in to the page and see the available listings.</p>
                </div>
                </div>

                <div class="ac">
                        <h2 class="ac-q" tabindex="0">How soon do I get my log in details after payment?</h2>
                        <div class="ac-a">
                        <p>Immediately.</p>
                        </div>
                        </div>

                        <div class="ac">
                                <h2 class="ac-q" tabindex="0">How much is the service charge to view listings on servitng.com?</h2>
                                <div class="ac-a">
                                <p>&#8358 1,000 </p>
                                </div>
                                </div>

                                <div class="ac">
                                        <h2 class="ac-q" tabindex="0">How long does my N1000 subscription/service charge last?</h2>
                                        <div class="ac-a">
                                        <p>7 days. This means once you pay N1000 Naira and you log in with the details sent to you via SMS, elapse period starts counting from that moment and after 7 days,
                                             you will pay another N1000 to have access to view listings.</p>
                                        </div>
                                        </div>

                                        <div class="ac">
                                                <h2 class="ac-q" tabindex="0">How can I contact servit?</h2>
                                                <div class="ac-a">
                                                <p>You can contact servit through email on ngservit@gmail.com or through 07014899225</p>
                                                </div>
                                                </div>

                                                <div class="ac">
                                                        <h2 class="ac-q" tabindex="0">How can I find servit on social medial?</h2>
                                                        <div class="ac-a">
                                                        <p>Facebook: www.facebook.com/servit
                                                                Twitter: @servit_ng
                                                                Instablog: @servit.ng</p>
                                                        </div>
                                                        </div>

                </div> 
                </div>
                </div>
        </div>
        </div>
           
    </div>
</div>

<% include partials/footer %>