<!DOCTYPE html>
<html>
    <head>
        <title>Servit | Find your way to camp</title>
        <meta name='viewport' content='width=device-width' />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Cantarell&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet"  href="/stylesheets/app.css">
        <link rel="stylesheet"  href="/stylesheets/blog.css">
        <link rel="stylesheet"  href="/stylesheets/app.scss">
        <link rel="stylesheet"  href="/stylesheets/accordion.min.css">
        <link rel="shortcut icon" href="/images/ico.png">
    </head>
    <body>
        
      <div class="container">
        <nav class="navbar navbar-default ">
          <div class="container-fluid">
            
             
              <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>

              <div class="mynavs">
                   <span style=" margin-top:-15px; color: #4A724E;font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
                </div>

              <div id="myNav" class="overlay">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <div class="overlay-content">
                      <% if(!currentUser){ %>
                        <a href="nyscnews"> NYSC News </a>
                        <a href="/campexperiences"> Camp Experiences </a>
                        <a href="/roomates"> Flatmates/Apartments </a>
                        <a href="/findyourwaytocamp">Find your way to camp</a>
                        <a href="/keylinks">Keylinks</a>
                        <a href="/createalisting">Create A Listing (Employers Only)</a>
                        <a href="/login" >Login <i class="fa fa-sign-in"></i></a>
                    <% }else{ %> 
                      <p>Signed In As <%= currentUser.username %></p>
                  
                      <a href="/jobs"> <i class="fa fa-pencil"></i> View Listings</a>
                      <a href="/keylinks"><i class="fa fa-key"></i> Keylinks </a>
                      <a href="/logout"><i class="fa fa-sign-out"></i> Signout </a>
                    <% } %>
                  </div>
                </div>
                  
          </div>
        </nav>

        <div class="container">
          <% if (error && error.length > 0){%>
            <div class="alert alert-danger" role="alert">
             <%= error %>
          </div>
          <%}%>

          <% if (success && success.length > 0){%>
            <div class="alert alert-success" role="alert">
               <%= success %>
            </div>
            <%}%>
        </div>
 

        
 </div>

 <div class="container">
    <p class="jobpageheading"><a class="makewhite" href="/getstarted">GET A PLACEMENT AND PPA FOR JUST N1000</a></p>
    <p class="category">CATEGORY: FIND YOUR WAY TO CAMP</p>
    <hr class="nyscnewsindexhrline">
    <div class="row">

      <div id="" class="col-md-6 col-md-12">
             <div class="findboxone">

                <h3 class="abia">ABIA CAMP</h3>
              <p class="finddescr"> <span class="finddescrspan"> Camp Address:</span> NYSC Permanent Orientation Camp, Umunna, Bende Local Government Area, Abia State.
                Direction: On your way to Umuahia, come down at Bus stop gate in Umuahia.
                 Take a cab going to Ohafia via Igbere. Drop at Igbere before Abriba. At Igbere, cross to the road and walk to camp.</p>
             
                 <h3 class="abia">ADAMAWA CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan"> Camp Address:</span> NYSC Permanent Orientation Camp, Lapondo Road, Damare, Girei Local Government Area, Adamawa State.
                 Direction: From Jambutu park in Yola or back of Jimeta Market where you're likely to be dropped, take a cab to Vinikilang.
                  From Vinikilang, take a Keke straight to the camp.</p>
                 
                <h3 class="abia"> AKWA IBOM CAMP</h3>
                <p class="finddescr"> <span class="finddescrspan"> Camp Address:</span> NYSC Permanent Orientation Camp, Ikot Itie Udung, Nsit Atai Local Government Area, Akwa Ibom State.
                 Direction: From AKTC park in Uyo, you might see a direct bus to camp or take a Keke to a place called Plaza.
                  When you get to Plaza, take a bus going to Oron road and ask if it's going to Ibiaku junction, drop that Ibiaku Junction and take a keke going NYSC camp at Nsit Atai.</p>
                 
                 <h3 class="abia">ANAMBRA CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Progressive Senior Secondary School, Umunya, Oyi Local Government Area, Anambra State.
                 Direction: From Onitsha, go to upper iweka and enter a bus going to Awka. Stop at Umunya. At Umunya, take a bike to the camp. 
                 If you are going from Awka, from Unizik junction, take a bus going to Onitsha. Stop at Umunya. Take a bike to camp.</p>
                 
                 <h3 class="abia">BAUCHI CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation camp, KM 60 Wailo, Ganjuwa Local Government Council, bauchi State
                 Direction: From the last bus stop in Bauchi, take a cab to Muda Lawal park, 
                 then take a bus going to Wailo from the park and stop at NYSC camp.</p>
                 
                 <h3 class="abia">BAYELSA CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> Kaiama Grammar School , Kaiama, Kolokuma/Opokuma L.G.A Kaiama Grammar School, Kaiama, Kolokoma-Opokuma Local Government Area, Bayelsa State.
                 Direction: Get a bus going to Yenagoa stop at Mbiama. Take ananithe bus going to kaiama and stop at Kaiama park. 
                 From Kaiama park, take a bike to camp.</p>
                 
                 <h3 class="abia">BENUE CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Wannune, Tarka Local Government Area, Kilometer 35 Makurdi Gboko Road, Benue State.
                 Direction: From the bus park in Makurdi, cross to front of Living Faith church, Take a cab going to Gboko. 
                 From Gboko, drop at the NYSC camp just after police college by the road side.</p>
                 
                 <h3 class="abia">BORNO CAMP</h3>
                 <p class="finddescr">BORNO ORIENTATION CAMP IS TENTATIVELY AT TWO DIFFERENT LOCATIONS, JIGAWA STATE AND KATSINA STATE, AND CORPS MEMBERS ARE ALLOCATED TO EITHER AS DECIDED BY NYSC MANAGEMENT.
                   <br><br> <span class="finddescrspan">Katsina Camp Address:</span> College of Peace and Disaster Management,
                  Nigeria Security and Civil Defence Corps (NSCDC), Babbar-Ruga Batsari Road Katsina, Katsina State.</p>
                 
                  <span class="finddescrspan">Jigawa Camp Address:</span> College of Education, Gumel, Gumel Local Government Area, Jigawa.
                 Direction: Travellers from Southern Nigeria should preferably travel to Kano first, then to Gumel in Jigawa state. A taxi in will take you to a place that you'll get a straight bus to the College of Education, Gumel, where the temporary orientation camp is located.
                 
                 <h3 class="abia">CROSS RIVER CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Obubra, Obubra Local Government Area, Cross River State.
                 Direction: Going from the Southwest and the FCT, stop at Calabar and then take a bus to Obubra and stop at Obubra junction, from the junction, take a bike to the NYSC orientation camp. 
                 From Onitsha, stop at upper Iweka and take a cab going to Ikom,
                  stop at Obubra junction and take a bike to the NYSC orientation camp. </p>
                 
                  <h3 class="abia">DELTA CAMP</h3>
                  <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp Former Martins TTC, Issele-Uku, Aniocha North L.G.A. Delta State.
                 Direction: From Southwest or Benin, take a bus going to Asaba or Onitsha and stop at Issele-Uku junction. Cross the express and take a bike straight to the orientation camp. 
                 From Southeast, enter Onitsha bus and stop at upper Iweka. Take a bus going to Asaba and drop at Koko junction which is the last bus stop. Take Issele-uku bus and drop at Issele-Uku junction, cross the express and take a bike straight to the orientation camp.
                 From Bayelsa, take a bus going to warri and stop at ughelli garage.
                  Take a bus going to Asaba and stop at the orientation camp.</p>
                 
                  <h3 class="abia">EBONYI CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Macgregor College, Afikpo Local Government Area, Ebonyi State.
                 Direction: From the bus park in Abakaliki, take a bus to Afikpo Macgregor camp.
                  Stop at the junction and take a bike to the camp.</p>
                 
                  <h3 class="abia">EDO CAMP</h3>
                  <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> Okada Grammar School, Okada, Ovia North-East Local Government Area, Edo State.
                 Direction: From the park in Benin, take a bus to Okada. From Okada, get a cab or bike to the orientation camp.</p>
                 
                 <h3 class="abia">EKITI CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Ise-Orun/Emure Local Government Area, Ekiti State
                 Direction: From the bus stop in Ado-Ekiti, get a straight bus to the NYSC orientation camp.</p>
                 
                 <h3 class="abia">ENUGU CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Awgu Local Government Area, Enugu State
                 Direction: From anywhere within Enugu City, find Holy Ghost Park and take a bus going to Awgu and straight to the camp. 
                 Going from Southeast, take a bus to Enugu state, stop at Awgu NYSC Camp immediately affter Okigwe.
                 
                 <h3 class="abia">FCT (ABUJA) CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Kubwa, Bwari Area Council, FCT.
                 Direction: Stop at Jabi park, take a cab to Berger, from Berger, take another cab going to Kubwa, stop at Kubwa express by NYSC junction, from there, take a bike or cab going to NYSC camp (About 1Km away).
                 
                 <h3 class="abia">GOMBE CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Temporary Orientation Camp, Science Technical College, Amada, KM 21, Gombe-Bauchi Highway, Near International Airport, Gombe State.
                 Direction: From bus park in Gombe, take a straight bus to the camp.
                 
                 <h3 class="abia">IMO CAMP</h3>
                 <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Temporary Orientation Camp Former Girl's Model Secondary School Eziama Obaire Nkwerre Local Govt Area, Imo State.
                 Direction: From Owerri park, take a bus from Ama JK to Nkwerre, stop at Nkume junction and take a bike to the camp.
                </div>
        </div>

        <div id="" class="col-md-6 col-md-12" >
                <div class="findboxone">
                        <h3 class="abia">JIGAWA CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Camp, opposite Army Barrack, Fanisua, Dutse Local Government Area, Jigawa State.
                        Direction: Travellers from Southern Nigeria should preferably travel to Kano first, 
                        then take a bus going to Dutse. Stop at the NYSC camp along the way at Fanisau.</p>
                        
                        <h3 class="abia">KADUNA CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Kaduna – Abuja Road, Kaduna State.
                        Direction: From the Kaduna city, enter a bus going to Chikun local government. 
                        Stop along the road where the camp is located.</p>
                        
                        <h3 class="abia">KANO CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Kusala Dam, Karaye, Karaye Local Government, Kano State.
                        Direction: On your way to Kano state, drop at Unguwa Uku. Take a bus going to Karaye camp.
                         In case you find yourself at the last bus stop which is Sabon-gari park at new road, take a Keke to Bata. 
                         Find another bus to Kabuga park. Get a bus from there to the camp.</p>
                        
                        <h3 class="abia">KATSINA CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> Youth Multi-purpose Centre/ NYSC Permanent Orientation Camp, Mani Road, Katsina State.
                        Direction: From Katsina park, take a bike straight to the camp.</p>
                        
                        <h3 class="abia">KEBBI CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Dakingari Local Government Area, Kebbi State.
                        Direction: When you get to Kaduna, get a vehicle going to Yauri/Kontagora. Drop at Yauri, from Yauri, get a vehicle going to Koko. After dropping at Koko, get a cab to NYSC camp. 
                        Going from the Southwest, get a vehicle going to Kontagora, Niger state.
                         Drop at Kontagora and get a vehicle going to Koko. 
                         After dropping at Koko junction, get a straight cab to NYSC camp.</p>
                        
                        <h3 class="abia">KOGI CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Asaya, Kabba Local Government Area, Kogi State
                        Direction: From anywhere in Kogi state, board a bus going to Kabba last bus stop and take a bike to NYSC camp.</p>
                        
                        <h3 class="abia">KWARA CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Yikpata, Edu Local Government Area, Kwara State.
                        Direction: From Ilorin, take a bike to Maraba, where you'll get bus going to Yikpata camp.</p>
                        
                        <h3 class="abia">LAGOS CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Iyana Ipaja, Agege, Lagos State.
                        Direction: From anywhere in lagos, take a bus to Iyana Ipaja,
                         and then another bus to Agege or Iyapaja and stop at the NYSC orientation camp.</p>
                        
                        <h3 class="abia">NASARAWA CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address: </span>Magaji Dan-Yamusa Permanent Orientation Camp, Keffi, Nasarawa State.
                        Direction: From Abuja, take a cab and stop at Nyanya bus stop or Mararaba bus stop, from any of the bus stops, take another cab/ bus to Keffi, alight at the camp along Abuja-keffi road. It is easy to find, just at the left hand side of the road.
                        OR
                        If you are going there from Lafia, take a bus going to Keffi from Lafia, at the bus stop in Keffi, 
                        take a cab/bike that would drop you by the Camp gate just along the express.</p>
                        
                        <h3 class="abia">NIGER CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, (Former Abubakar, Dada Senior Secondary School), Paiko, Niger State.
                        Direction: From Minna, take a bike to Mobil filling station and take a bus straight to Paiko where the 
                        orientation camp is located.</p>
                        
                        <h3 class="abia">OGUN CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Ikenne Road, Sagamu Local Government Area, Sagamu, Ogun State.
                        Direction: Take a bus to Sagamu, from there, take a bike to NYSC camp.</p>
                        
                        <h3 class="abia">ONDO CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Ikare-Akoko Local Government Area, Ondo State.
                        Direction: From the bus stop in Akure, take a taxi to Benin garage. 
                        Take a bus to Ikare, from there, take a bike to the camp.</p>
                        
                        <h3 class="abia">OSUN CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Aisu College Hospital Road, Ede North Local Government Area, Ede, Osun State.
                        Direction: From other Southwestern states, Kogi, Abuja, take a bus to Ife or Ilesha and stop at Gbogan. Take a bus from there to NYSC camp.
                        From within Osogbo, take a bus going to Ede, when you get to Ede, take a bike straight to NYSC camp.</p>
                        
                        <h3 class="abia">OYO CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> Government Technical College, Iseyin Local Government Area, Iseyin, Oyo State
                        Direction: From Iwo road in Ibadan, where the bus is likely to stop, 
                        take a cab going to Ojoo and drop at Iseyin park. From Iseyin park, take a bus going to the orientation camp.</p>
                        
                        <h3 class="abia">PLATEAU CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Mangu, Mangu Local Government Area, Plateau State.
                        Direction: From Old Airport Junction, get a bus/cab going to Mangu going to NYSC Orientation Camp, Jakatai.</p>
                        
                        <h3 class="abia">RIVERS CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Nonwa-Gbam Tai Local Government Area, Rivers State.
                        Direction: In Port harcourt, find Eleme junction, 
                        locate where Nonwa or Gokana buses load and take one to the orientation camp.</p>
                        
                        <h3 class="abia">SOKOTO CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Wamakko, Wamakko Local Government Area, Sokoto State.
                        Direction: From the park in Sokoto city, get a bike the NYSC camp in Wamakko.</p>
                        
                        <h3 class="abia">TARABA CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Sibre Airport Road, Jalingo, Taraba State.
                        Direction: On your way to Jalingo, alight at the gate of the NYSC camp, it is just by the express.</p>
                        
                        <h3 class="abia">YOBE</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> College of Administration and Business Studies, Potiskum, Yobe State.
                        Direction: From Kano, get a direct bus going to Yobe and connect Potiskum from there, the camp is at Potiskum.
                         From Lagos, Onitsha and some other parts of  the South, you can link Potiskum straight by bus, 
                         or get to Kano first and link the camp from there as described above.</p>
                        
                        <h3 class="abia">ZAMFARA CAMP</h3>
                        <p class="finddescr"> <span class="finddescrspan">Camp Address:</span> NYSC Permanent Orientation Camp, Beside FRSC Office, Tsafe Local Government Area, Zamfara State.
                        Direction: From Kaduna, stop at Kawo park, get a bike or taxi to NDA junction
                         where Zamfara park is located and get a bus to Zamfara. Drop at the orientation camp along the road.</p>
                </div>
        </div>
      
           

 
   
       
           
               
          </div>        
  </div>
  </div>
  <hr class="hrfooterlinetwo">
  <div class="container lastsegment">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h2>About Us</h2>
            <p class="search">At <span class="servits">Servit</span>, we serve as link between undergraduates in search of an organisation
               where they can undergo their industrial training and the companies.<br>
              We also help make the tedious search of PPA for corps members (redeployed corps members especially)
               easy by providing access to openings in several companies. </p>
          </div>
  
        <div class="col-md-3 col-sm-12">
            <h2 class="categories">Categories</h2>
           <p> <a href="/nyscnews">NYSC News</a></p>
           <p> <a href="/campexperiences">Camp Experiences</a></p>
           <p> <a href="/roomates">Find a Roomie</a></p>
          </div>
          <div class="col-md-3 col-sm-12">
              <h2 class="categories">Contact</h2>
              <p><span class="phone">Phone:</span> 08023007357</p>
              <p><span class="phone">Email:</span> ngservit@gmail.com</p>
              <p><span class="phone">Address:</span> FCT, Abuja</p>
             
            </div>

            <div class="col-md-3 col-sm-12">
              <h2 class="categories">Social</h2>
              <a href="https://www.fb.com/servitng" target="_blank"> <img src="/images/facebook.jpg" height="32" width="32"></a>
              <a href="https://www.instagram.com/servit.ng/" target="_blank"> <img src="/images/instagram.jpg" height="32" width="32"></a>
              <a href="https://twitter.com/servitng" target="_blank"><img src="/images/twitter.jpg" height="32" width="32"></a>
              <a href="mailto:hello@servit.ng" target="_blank"><img src="/images/mail.png" height="32" width="32"></a>
            </div>
    </div>
    </div>
  
    <p class="goupbutton"><button onclick="topFunction()" id="myBtn" class="waves-effect waves-light btn-large">GO UP   <i class="large material-icons">arrow_upward</i></button></p>
  
  
  
  
    <script src="http://code.jquery.com/jquery-3.4.1.js"integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
  <script src="/js/accordion.min.js"></script>
  

  <script>
      function openNav() {
        document.getElementById("myNav").style.height = "100%";
      }
      
      function closeNav() {
        document.getElementById("myNav").style.height = "0%";
      }
      </script>
  
  
  
  <script>
      $(document).ready(function () {
          $("nav").find("li").on("click", "a", function () {
              $('.navbar-collapse.in').collapse('hide');
          });
      });
      </script>
      
  
  <!-- <script>
    $(document).ready(function() {
    //Preloader
    $(window).on("load", function() {
    preloaderFadeOutTime = 500;
    function hidePreloader() {
    var preloader = $('.spinner-wrapper');
    preloader.fadeOut(preloaderFadeOutTime);
    }
    hidePreloader();
    });
    });
    </script> -->
  
  <script>
      new Accordion('.accordion-container'); 
    </script>
  
  </body>
  </html>
   
  
  
  
