<% include ./partials/header %>





<div class="container logincontainer">
        <div class="row">
                <div class=" loginbox col-md-5 col-sm-12 col-xs-12">
                        <div class="loginboxheading">SIGN IN</div>
                        <form class="ui form form col-md-12 col-xs-12 loginform" action="/login" method="POST"> 

                        <div class="field">
                                <p class="loginusername"><input type="text" name="username" placeholder="username" required></p>
                        </div>
                
                        <div class="field">
                                <p class="loginpassword"><input type="password" name="password" placeholder="password" required></p>
                        </div>
                        
                
                        <button type="submit" class="btn btn-default btn-lg loginsubmitbutton">SUBMIT </button>
                       
                        <p class="undersubmitbutton">Don`t have an account? <a href="/getstarted">Create one</a></p>
                        <!-- <p class="undersubmitbutton">Forgot password? <a href="/forgot">Reset</a></p> -->
                         
                </form>
                   
        </div>

        <div class="col-md-7 loginpageimage">
                <img alt="Image" height="420" width="600" src="/images/loginpageimage.jpg">
        </div>

     </div>         
</div>
<br>
<br>
<br>
<br>
<br>
<br>



<% include ./partials/footer %>