<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="">
           
            <div id="faq">
                <div class="container faq">
                <div class="">
                <h2 class="faqheading"><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> Terms Of Use</h2>
                <div>
                <p>
                    Servit accepts no responsibility or liability for any risk involved in the visit to any location on the listings. Thus, absolute care and discretion is advised before and during visit to any company, place or person(s).
                    <br>
                    <br>
                    Servit opens up corps members and interns to PPA and placement openings and does not serve to vet candidates whether oral or in writing. Evaluation of interested candidates is carried out by the companies/organisations.
                    <br>
                    <br>
                    Servit reserves the right to alter the appearance and functionality of its products and services or the website itself.
                </p>
                </div>
                </div>
        </div>
        </div>
           
    </div>
</div>
</div>

<% include partials/footer %>