.nyscnewsindextitle{
    font-size:18px;
   color: #000000!important;
   text-transform: capitalize;
}

.nyscnewslandingtitle{
    font-size:18px;
    float:right;
    color: #000000;

}
.nyscnewsindexlocation{
    padding-left:3px;
    color: #000000;
    font-size: 15px;
    
}

.nyscnewslandinglocation{
    padding-left:3px;
    color: #000000;
    font-size: 15px;
}


.nyscnewsindexbutton{
    float:right;
}
.nyscnewsindexhrline{
    border: 2px solid #EFEFF0;
    border-radius: 3px;
    width:100%;
}

.nyscnewsshowtitle{
    
    font-family: 'Cantarell', sans-serif;
    font-weight:bold;
    padding-top:20px;
    letter-spacing: 3px;
    
}

.nyscnewsshowbody{
    padding-left:3px;
    font-size: 17px;
    text-align:justify;
}

.nyscnewsshowdescription{
    font-size: 18px;
}

.nyscnewsshowshare{
    font-size: 16px;
}

.nyscnewsshowshare:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #000000 ; /* This creates the border. Replace black with whatever color you want. */
}


.nyscnewsshowbody{
    padding-top:10px;
    font-family: "Tiempos Text",Georgia,"Times New Roman",serif;
    line-height: 30px;
}

.nyscnewsshowothernews{
    font-family: "Tiempos Text",Georgia,"Times New Roman",serif;
    
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    padding-top:35px;
}

.nyscnewsshowothernewsheading{
    font-family: "Tiempos Text",Georgia,"Times New Roman",serif;
    font-style: italic;
    font-size: 18px;
   
    font-weight: 400;
}

.nyscnewsshowothernewsdescription{
    font-size: 15px;
    text-transform: capitalize;
}

.nyscnewsshowbodybuttons{
    text-align:center;
}

/* .landingrightimage{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
} */

.landingthirdimage{
    margin-top:40px;
  
}

.landingfourthimage{
    margin-top:40px;
}

.landingsecondsegment{
    background-color: red;
}

.landingmoveone{
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}

.latestnews{
    border-left: 5px solid #4CAF50;
    padding-left:18px;
    font-size:24px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight:bold;
  
    
}

.landingthirdsegment{
    padding-top:60px;
    padding-bottom:60px;
}

.landingthirdsegment2{
    padding-bottom:40px;
}

.landingthirdsegment3{
    padding-bottom:40px;
}

.landingbodyexcerpt{
    font-weight: 400;
    line-height: 20px;
    color: #8c9597;
    margin-top: 10px;
}

.initialsegment{
    margin-top:40px;
    margin-bottom:100px;
}

.hh{
    border-radius:0px !important;
   
}

.hhfirst{
    border-radius:0px !important;
   
}

.hhlast{
    border-radius:0px !important;
   
}

.hhtwo{
    border-radius:0px !important;
    
    
}

.pbanner{
    margin:0 auto;
    padding-bottom:30px;
}

#sub{
    padding-top:50px;
}

.subtitle{
    font-weight: 700;
    font-size: 22px;
}

.subsubtitle{
    font-size:13px;
}

.drawone:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 40px; /* This creates some space between the element and the border. */
    border-bottom: 1px dotted #4A724E ; /* This creates the border. Replace black with whatever color you want. */
}

.phone{
    font-size: 15px;
    font-weight: 700;
}

.hrlinetwo{
    border: 1px dotted solid ;
    border-radius: 5px;
   
}

.lastsegment{
    margin-top:70px;
  
}

.goupbutton{
    float:right;
}

.adjusticon{
    margin-top:5px;
}

.hrfooterlinetwo{
    border: 1px solid #4A724E;
    border-radius: 5px;
    width:40%;
}

.editthis{
    display: flex;
    flex-wrap:wrap;
    
}

.landingthirdsegment1{
    display: flex;
    flex-wrap:wrap;
}

.gg{
    padding-top: 30px;
}

#premiumtwo{
    background-color:#F5F5F5;   
}

.twitter-timeline{
    background-color:#F5F5F5;
}

.commentssection{
    margin-top:30px;
}

.othernews{
    font-size:13px;
}

.well{
  
}

.commentauthor{
    font-size:18px;
    text-transform: capitalize;
}

.commentcomment{
    font-size:14px;
    margin-top: 5px;

}

.commentbutton{
    padding-bottom:15px;
}

.jobpageheading{
    color:#fff;
    text-align:center;
    font-weight:bold;
    font-size:18px;
    font-family: 'Cantarell', sans-serif;
    background: url("/images/headerback.jpg") ;
    padding-top:50px;
    padding-bottom:50px;
   
   
}

.jobpageheadingthree{
    color:#fff;
    text-align:center;
    font-weight:bold;
    font-size:18px;
    font-family: 'Cantarell', sans-serif;
    background: url("/images/headerback.jpg") ;
    padding-top:50px;
    padding-bottom:50px;
    margin-top:80px;
   
}

.campeexperiencespicture{
    border-radius:0px !important;
    padding-top: 20px;

}

.viewallcampexperiences{
    text-align:center;
    padding-top:30px;
}

.viewallnyscnews{
    text-align:center;
    padding-bottom:20px;
}


.getstartedfirstsegment{
    padding-bottom:150px;
}

.getstartedpagebutton{
    text-align: center;
}
.stepone{
    margin-top:40px;
}

.makewhite{
    color:white;
}

.search{
    font-size:15px;
}

.wemobile{
    display:none;
}

.category{
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Cantarell', sans-serif;
}

.finddescr{
    text-align:justify;
}

.finddescrspan{
    font-weight:bold;
    color: #4A724E;
}

.abia{
    color: #4A724E;
}

.followtheauthor{
    font-size: 18px;
}

.servits{
    color: #4A724E;
}

.search{
    text-align:justify;
}

.landingthirdsegment2substring{
    text-align:right;
}

.sharebutton{
    text-align:center;
}

.landingad{
    text-align:center;
}

.indexcampexpimg{
    width:240px;
    height:300px;
    padding-top:30px;
}

.showcampexpimg{
    width:400px;
    height:500px;
}
.showcampimagep{
    text-align:center;
}

  /* MediaQueries */

  @media screen and (max-width: 833px) {    
    .hh{
        margin-top:20px;
        height:150px; 
        width: 250px;
    }
    .hhfirst{
        margin-top:20px;
        height:150px; 
        width: 250px;
    }
    .landingthirdsegment1{
        margin:0 auto;
    }
    .hhlast{
        display:none;
    }
.campeexperiencespicture{
    height:150px; 
        width: 250px;
}
.categories{
    padding-top:10px;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .getstartedimage{
      display:none;
  }

  .we{
      display:none;
  }
  .wemobile{
    display:block;
    font-size:18px;
    text-align: center;
    text-align: justify;
}

.stepone{
    margin-top:0px;
}

.getstartedfirstsegment{
    padding-bottom:10px;
}

.hhtwo{
    /* display:none; */
    width:280px;
    padding-top:30px;
}

.indexcampexpimg{
   
    padding-top:30px;
}
.showcampexpimg{
    width:240px;
    height:300px;
}



  }

  @media screen and (min-width: 520px) {

  }

  @media screen and (min-width: 10px) and (max-width: 480px){

  }

  @media screen and (max-height: 450px) {

  }