<% include ../partials/header %>


<div class="container">
        <div class="row membershiprow">
                <div class=" registerbox col-md-5 col-sm-12 col-xs-12">
                        <div class="registerboxheading">CREATE A LISTING</div>
                        <p class="registerboxheadingtwo"> Getting a corps member/intern for your company has been made easy! Servit NG serves as a link between IT, PPA seekers and employers. <br>Select your preferred option below and input your company details anytime you are interested in the services of corps members or interns.
                                <br> You can also send the details
                                 (company name, location, description e.g duration, job specification) to us, and we will upload it on our website on your behalf. For enquiries, call/chat: 080-2300-7357</p>
                        <p class="membershipbuttons">
                        <p class="internpayment"><a href="/internjobs/new"><button class="ui green button">FOR IT PLACEMENT</button></a></p>
                        <p class="corpmember"><a href="/corperjobs/new"><button class="ui green button ">FOR NYSC PPA</button></a></p>
                        </p>
                </div>

        <div class="col-md-7 registerpageimage">
                <img alt="Image" height="420" width="600" src="/images/registerpageimage.jpg">
        </div>

     </div>         
</div>

<% include ../partials/footer %>