<!DOCTYPE html>
<html>
    <head>
        <title>Servit | Add Camp Experience</title>
        <meta name='viewport' content='width=device-width' />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Cantarell&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet"  href="/stylesheets/app.css">
        <link rel="stylesheet"  href="/stylesheets/app.scss">
        <link rel="stylesheet"  href="/stylesheets/accordion.min.css">
        <link rel="shortcut icon" href="/images/ico.png">
    </head>
    <body>
        
      <div class="container">
        <nav class="navbar navbar-default ">
          <div class="container-fluid">
            
             
              <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>

              <div class="mynavs">
                   <span style=" margin-top:-15px; color: #4A724E;font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
                </div>

              <div id="myNav" class="overlay">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <div class="overlay-content">
                      <% if(!currentUser){ %>
                        <a href="nyscnews"> NYSC News </a>
                        <a href="/campexperiences"> Camp Experiences </a>
                        <a href="/#contactus"> Flatmates/Apartments </a>
                        <a href="/register">Find your way to camp</a>
                    <% }else{ %> 
                      <p>Signed In As <%= currentUser.username %></p>
                      <a href="/jobs"> <i class="fa fa-pencil"></i> View Listings</a>
                      <a href="/keylinks"><i class="fa fa-key"></i> Keylinks </a>
                      <a href="/logout"><i class="fa fa-sign-out"></i> Signout </a>
                    <% } %>
                  </div>
                </div>
                  
          </div>
        </nav>

        <div class="container">
          <% if (error && error.length > 0){%>
            <div class="alert alert-danger" role="alert">
             <%= error %>
          </div>
          <%}%>

          <% if (success && success.length > 0){%>
            <div class="alert alert-success" role="alert">
               <%= success %>
            </div>
            <%}%>
        </div>
 

        
 </div>

<div id="newlistingcontainer" class="ui main text container">
    <div class="openingheadern">ADD A NEW CAMP EXPERIENCE</div>
    <h3 class="usn"></a></h3>
    <form class="ui form newform" action="/campexperience" method="POST" enctype="multipart/form-data"> 

            <div class="field">
                   <p class="internformfield"> <input type="text" name="campexperience[title]" placeholder="camp experience title" required></p>
             </div>
            <div class="field">
                    <p class="internformfield">   <textarea name="campexperience[body]" placeholder="camp experience content" required></textarea></p>
            </div>
            <!-- <div class="field">
                <p class="internformfield"> <input type="text" name="campexperiencepicture" placeholder="campexperience picture"></p>
              </div> -->
              <div class="field">
                <p class="internformfield"> <input type="text" name="campexperience[fb]" placeholder="Your facebook username (Optional)" ></p>
              </div>
              <div class="field">
                <p class="internformfield"> <input type="text" name="campexperience[ig]" placeholder="Your instagram username (Optional)" ></p>
              </div>
              <div class="field">
                <p class="internformfield"> <input type="text" name="campexperience[twitter]" placeholder="Your twitter username (Optional)"></p>
              </div>

              <div class="field">
                <label for="image">Upload an Image</label>
                <input type="file" id="image" name="image" accept="image/*" >
            </div>

          <p class="pjobsubmitbutton">  <button type="submit" class="btn btn-default btn-lg jobsubmitbuttonn">SUBMIT </button></p>
         
          
    </form>
</div>
</body>


<% include ../partials/footer %>